*.suo
*.user
_ReSharper.*
bin
obj
packages
bin/*
obj/*
/ControleDeEstoque/.vs
/ControleDeEstoque/.vs/*
/ControleDeEstoque/ControleDeEstoque.WebUI/ApplicationInsights.config
/ControleDeEstoque/ControleDeEstoque.Models/ControleDeEstoque.Models.csproj.user
/ControleDeEstoque/ControleDeEstoque.DataAccess/ControleDeEstoque.DataAccess.csproj.user
/ControleDeEstoque/ControleDeEstoque.WebUI/ControleDeEstoque.WebUI.csproj.user
/ControleDeEstoque/ControleDeEstoque.WebUI/bin
/ControleDeEstoque/ControleDeEstoque.WebUI/bin/*
/ControleDeEstoque/ControleDeEstoque.WebUI/bin/Debug
/ControleDeEstoque/ControleDeEstoque.WebUI/bin/Debug/*.dll
/ControleDeEstoque/ControleDeEstoque.WebUI/bin/Release
/ControleDeEstoque/ControleDeEstoque.WebUI/obj
/ControleDeEstoque/ControleDeEstoque.WebUI/obj/*
/ControleDeEstoque/ControleDeEstoque.Models/bin
/ControleDeEstoque/ControleDeEstoque.Models/bin/*
/ControleDeEstoque/ControleDeEstoque.Models/obj
/ControleDeEstoque/ControleDeEstoque.Models/obj/*
/ControleDeEstoque/ControleDeEstoque.DataAccess/bin
/ControleDeEstoque/ControleDeEstoque.DataAccess/bin/Debug/*.dll
/ControleDeEstoque/ControleDeEstoque.DataAccess/bin/Debug/*.pdb
/ControleDeEstoque/ControleDeEstoque.DataAccess/bin/Release/*
/ControleDeEstoque/ControleDeEstoque.DataAccess/bin/Release/*.dll
/ControleDeEstoque/ControleDeEstoque.DataAccess/bin/Release/*.pdb
/ControleDeEstoque/ControleDeEstoque.DataAccess/obj
/ControleDeEstoque/ControleDeEstoque.DataAccess/obj/*
/ControleDeEstoque/ControleDeEstoque.WebUI/*.user
/ControleDeEstoque/ControleDeEstoque.Models/*.user
/ControleDeEstoque/ControleDeEstoque.DataAccess/*.user
*.dll
*.pdb
*.cache

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.vs
ControleDeEstoque.DataAccess.csproj.user
*.user
.vs
ControleDeEstoque.Models.csproj.user
ControleDeEstoque/ControleDeEstoque.Models/bin/Debug/ControleDeEstoque.Models.dll
ControleDeEstoque/ControleDeEstoque.Models/bin/Debug/ControleDeEstoque.Models.dll
*.dll
*.pdb
*.cache
